[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/veveux
[access "refs/for/refs/*"]
	read = group user/veveux
	push = group user/veveux
	label-Code-Review = -2..+2 group user/veveux
	label-Verified = -1..+1 group user/veveux
	rebase = group user/veveux
	removeReviewer = group user/veveux
	submit = group user/veveux
[access "refs/heads/*"]
	read = group user/veveux
	create = group user/veveux
	push = +force group user/veveux
	pushMerge = group user/veveux
[access "refs/tags/*"]
	push = group user/veveux
	push = +force group user/veveux
